#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #d8dee9;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #3b4252;
    width: 100vw;
    min-height: 100vh
  }
.content {
    position: relative;
    top: 115px;
    background: #d8dee9;
}

  
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  

button {
    background: #5e81ac;
    border: 0;
    padding: 10px 40px;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

button:hover{
    background: #81a1c1;
}

h1, p {
    text-align: center;
    color: #4c566a;
}

.Center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  