@import "./main.css";

.row {
  background: #e5e9f0;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}
.col {
  float: left;
  width: auto;
}

.parent {
  width: auto;
}

.double {
  display: inline-block;
  vertical-align: center;
  width: auto;
}

.hor-spacer {
  width: 0px;
  display: inline-block;
  vertical-align: center;
}

.ver-spacer {
  height: 50px;
}

form {
  width: 500px;
  margin: 5px auto;
  background: #fff;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}

label {
  color: rgb(158, 158, 158);
  display:inline-block;
  margin: 25px 0 0px;
  text-transform: uppercase;
}

input {
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
}
