@import "./main.css";
@import "./form.css";

.row {
    background: #e5e9f0;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}
.col {
    float: left;
    width: 50%
}


.submit {
    text-align: center;
}
